.StoryContent
{
   width: 90%;
   margin-left: 5%;
   margin-bottom: 124px;
   height:364px;   
}

.StoryContent img
{
   image-size: responsive;
}

.StoryControls
{
  margin-left: 78%;
}

.TitleInput
{
  width: 50%;
  margin-left: 20%;
  margin-top: 11%;
}

.CategoryInput
{ 
  margin-left: 20%;
}