.Register
{
    width: 60%;
    margin-left: 20%;
}

.RegisterButton
{
   margin-top: 50px;
}

.Register.Title
{
  text-align: center;
}

.Register.SocialLogins
{
   margin-top:40px;
   text-align: center;
}