.StoryTitle
{
  text-align: center;
  margin-top: 100px;
}

.StoryContent, .StoryTags
{
  width:80%;
  margin-left:10%;
}

.StoryComments
{
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  text-align: left;
  margin-right: 20%;
}

.StoryContent img
{
  border: 1px solid gainsboro;
  image-size: responsive;
}

.Divider
{
  width: 80%;
}

.Loading
{
   margin-top: 25%;
   margin-left: 43%;
}