.EditorControls
{
  font-family: 'Roboto','Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.InputSpace
{
  height: 47px;
}

.PostSendButtons
{
  margin-left: 84%;
}
